# HW4

<b>Instructions:</b> Write your answers in the empty code cells below.

<b>Penalties:</b> You will incur penalties if:
<ul>
<li>Your code is wrong</li>
<li>Your code does not work on different data</li>
<li>Your code is unnecessarily slow (you use a for loop, or you use DataFrame.apply unnecessarily, etc)
</ul>

Start by downloading the file <i>cleaned_survey.csv</i> in the same folder as this .ipynb file. The file contains the results from the student survey.

Then, execute the code below to load the data in a  dataframe <i>df</i>.

In [4]:
import pandas as pd
df = pd.read_csv("cleaned_survey.csv", index_col=0)
df.drop(['ProgSkills','Languages','Expert'],axis=1,inplace=True)

In [ ]:
df.head()

### Data Set description

The data set contains one row for every person who filled the survey. We use <b>person</b> and <b>student</b> interchangeably.

<ul>
<li><b>Job</b>: 0 for those students without a job, 0.5 for those students with a part-time job, and 1 for those students with a full-time job
<li><b>Program</b>: program of enrollment
<li><b>C-Regression</b>: indicates whether the student knows (1) or doesn't know (0) a certain programming language or topic
<li><b>Classification</b>: indicates the level of knowledge (1-5) on classification
<li><b>Clustering</b>: indicates the level of knowledge (1-5) on clustering
<li><b>Bach_0to1</b>: 1 if time elapsed from graduation is less than a year; 0 otherwise
<li><b>Bach_1to3</b>: 1 if time elapsed from graduation is between one and three years; 0 otherwise
<li><b>Bach_3to5</b>: 1 if time elapsed from graduation is between three and five years; 0 otherwise
<li><b>Bach_5Plus</b>: 1 if time elapsed from graduation is more than five years; 0 otherwise
</ul>

### Question 1

How many people filled the survey?

In [6]:
len(df)

61

### Question 2

Among those who know SQL, what's the proportion (0 to 1) of people that know also Java?

In [30]:
df1=df[df.SQL==1]
df1[df1.Java==1].mean()

Job               0.309524
C                 0.690476
CPP               0.523810
CS                0.119048
Java              1.000000
Python            0.512195
JS                0.500000
R                 0.146341
SQL               1.000000
SAS               0.071429
Excel             0.928571
Tableau           0.666667
Regression        0.439024
Classification    1.857143
Clustering        1.809524
Bach_0to1         0.023810
Bach_1to3         0.261905
Bach_3to5         0.309524
Bach_5Plus        0.404762
dtype: float64

### Question 3

What's the average knowledge in "classification" of those MBA students that do NOT know SQL?

In [60]:
df[df.SQL==0].groupby('Program')['MBA','Classification'].mean()

              MBA  Classification
Program
Business Man  1.0        2.000000
MBA           1.0        1.333333
MSIS          1.0        1.500000

### Question 4

What's the proportion of people (0 to 1) who know C better than Java?

In [ ]:
df[df.C>df.Java].mean()

### Question 5

Let us define the "data science experience" of a given person as the person's largest score among Regression, Classification, and Clustering. Compute the average data science experience among all MSIS students.

In [ ]:
df.groupby("MSIS").agg({'Regression':'max','Classification':'max','Clustering':'max'})

### Question 6

Among those with at least one year elapsed from their Bachelor's degree, retrieve the row of the "most knowledgeable" person. The most knowledgeable person is the one who knows Classification best (in case of ties, consider whether they know C, then CPP, then CS, then Java, then Tableau)